body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.tag:not(body) {
  border-bottom: 2px solid white !important;
}

.top-bottom-padding-small {
  padding-top: 15px;
  padding-bottom: 15px;
}
